.loader > svg {
    animation: 1s rotateLoader infinite linear;
}

@keyframes rotateLoader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
